<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - eshop</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @RenderSection("Styles", required: false)
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Discgolf Shop</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>*@
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                    @{
                        @if (User.Identity.IsAuthenticated == true && (User.IsInRole(Roles.Admin.ToString()) || User.IsInRole(Roles.Manager.ToString())))
                        {
                            <li><a asp-area="Admin" asp-controller="Carousel" asp-action="CarouselSetting">Carousel</a></li>
                            <li class="nav-item dropdown">
                                <a class="navbar-link dropdown-toggle" href="#" data-toggle="dropdown">Orders</a>
                                <ul class="dropdown-menu">
                                    <li><a asp-area="Admin" asp-controller="Orders" asp-action="Index">Orders</a></li>
                                    @if (User.Identity.IsAuthenticated == true && User.IsInRole(Roles.Admin.ToString()))
                                    {
                                        <li><a asp-area="Admin" asp-controller="OrderItems" asp-action="Index">OrderItems</a></li>
                                    }
                                </ul>
                            </li>

                        }
                        @if (User.Identity.IsAuthenticated == true && User.IsInRole(Roles.Admin.ToString()))
                        {
                            <li><a asp-area="Admin" asp-controller="Product" asp-action="ProductSetting">Product</a></li>
                            <li><a asp-area="Admin" asp-controller="Users" asp-action="Index">Users</a></li>
                        }
                        @if (User.Identity.IsAuthenticated == true && (User.IsInRole(Roles.Customer.ToString())))
                        {
                            <li class="nav-item dropdown">
                                <a class="navbar-link dropdown-toggle" href="#" data-toggle="dropdown">My Orders</a>
                                <ul class="dropdown-menu">
                                    <li><a asp-area="Customer" asp-controller="CustomerOrders" asp-action="Index">My Orders</a></li>
                                    <li><a asp-area="Customer" asp-controller="CustomerOrderNotCart" asp-action="ApproveOrderInSession">Approve Current Order</a></li>
                                </ul>
                            </li>
                        }
                        double totalPrice = 0;
                        string totalPriceString = "TotalPrice";
                        if (Context.Session.IsAvailable && Context.Session.Keys.Contains(totalPriceString))
                        {
                            totalPrice = Context.Session.GetDouble(totalPriceString).GetValueOrDefault();
                        }
                        <li class="navbar-text"><label id="total_price" class="label" style="color:red;font-size:1.4em">@totalPrice.ToString("C2")</label></li>
                    }
                </ul>
                @{
                    @if (User.Identity.IsAuthenticated == false)
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li><a asp-area="Security" asp-controller="Account" asp-action="Register"><span class="glyphicon glyphicon-user"></span> Sign up</a></li>
                            <li><a asp-area="Security" asp-controller="Account" asp-action="Login"><span class="glyphicon glyphicon-log-in"></span> Log in</a></li>
                        </ul>
                    }
                    else
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li class="nav-item dropdown">
                                <a class="navbar-link dropdown-toggle" href="#" data-toggle="dropdown">Logged as @User.Identity.Name</a>
                                <ul class="dropdown-menu">
                                    <li><a asp-area="Security" asp-controller="Account" asp-action="Logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    }
                }
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2021 - Discgolf Shop</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
