@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

@section Styles
{
    <environment include="Development">
        <link rel="stylesheet" href="~/css/login_template.css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/login_template.min.css">
    </environment>
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">

        <div class="login-form">

            <form asp-action="Register" enctype="multipart/form-data" method="post">
                <h2 class="text-center">Register</h2>

                <div class="form-group">
                    <input type="text" asp-for="@Model.Firstname" class="form-control" placeholder="First Name"/>
                    <span asp-validation-for="@Model.Firstname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="text" asp-for="@Model.Lastname" class="form-control" placeholder="Last Name"/>
                    <span asp-validation-for="@Model.Lastname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="text" asp-for="@Model.Username" class="form-control" placeholder="Username" required="required"/>
                    <span asp-validation-for="@Model.Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="@Model.Email" type="email" class="form-control" placeholder="Email" required="required"/>
                    <span asp-validation-for="@Model.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="@Model.PhoneNumber" type="number" class="form-control" placeholder="Phone Number"/>
                    <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="password" asp-for="@Model.Password" class="form-control" placeholder="Password" required="required"/>
                    <span asp-validation-for="@Model.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="password" asp-for="@Model.RepeatedPassword" class="form-control" placeholder="Confirm Password" required="required"/>
                    <span asp-validation-for="@Model.RepeatedPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Sign up</button>
                </div>

            </form>

            <div class="card-footer">
                <div class="d-flex justify-content-center links">
                    Already have an account? <a asp-area="Security" asp-controller="Account" asp-action="Login"> Login</a>
                </div>
            </div>

        </div>
    </div>



</body>
</html>