@model CarouselViewModel
@{
    ViewData["Title"] = "Carousel Settings";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Change your carousels.</p>

<br />
<a asp-action="Create">Create carousel item</a>
<br />
<br />
<br />
<br />

@{
    if (Model != null && Model.Carousels != null && Model.Carousels.Count > 0)
    {
    <table style="width:100%" class="table table-responsive table-striped table-bordered">
        <tr>
            <th class="col-sm-1">@Html.DisplayNameFor(model => model.Carousels[0].ID)</th>
            <th class="col-sm-1">@Html.DisplayNameFor(model => model.Carousels[0].DataTarget)</th>
            <th class="col-sm-2">@Html.DisplayNameFor(model => model.Carousels[0].ImageSrc)</th>
            <th class="col-sm-2">@Html.DisplayNameFor(model => model.Carousels[0].ImageAlt)</th>
            <th class="col-sm-4">@Html.DisplayNameFor(model => model.Carousels[0].CarouselContent)</th>
            <th class="col-sm-1">Edit</th>
            <th class="col-sm-1">Delete</th>
        </tr>

        @{ foreach (var carouselItem in Model.Carousels)
            {
                <tr>
                    <td class="col-sm-1">@carouselItem.ID</td>
                    <td class="col-sm-1">@carouselItem.DataTarget</td>
                    <td class="col-sm-2">@carouselItem.ImageSrc</td>
                    <td class="col-sm-2">@carouselItem.ImageAlt</td>
                    <td class="col-sm-4">@carouselItem.CarouselContent</td>
                    <td class="col-sm-1"><a asp-action="Edit" asp-route-ID="@carouselItem.ID">Edit</a></td>
                    <td class="col-sm-1"><a asp-action="Delete" asp-route-ID="@carouselItem.ID" onclick="return DeleteConfirm()">Delete</a></td>
                </tr>
            }
        }

    </table>
    }
    else
    {
        <h2>Carousel is empty.</h2>
    }
}

@section Scripts
{
    <script src="~/js/Scripts.js"></script>
}